
/* CSS: recipe list (Left Div) */
.recipe-list,.recipe-review{
    min-height: 70vh;
    margin: 0.5vw;
    
}
.recipe-list{
    width:30%;
    height: 80vh;
    border-radius: 20px 0px 0px 20px;
    overflow: auto;
    background-color: rgba(200, 50, 25, 0.5);
}
.recipe-review{
    position:relative;
    width:70%;
    height: 75vh;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}
.recipe-item img{
    width: 25%;
    height: 25%;
    border: 1px solid black;
    border-radius: 50px;
}
.recipe-name{
    font-size: 1.5vw;
    cursor:pointer;
    border-bottom: 1px solid black;
    width: 73%;
    padding: 2%;
}
.name{
    font-weight: 600;
}

/* CSS: Recipe Detail (Right Div) */
.detail-hero{
    height:40%;
    background-color: rgb(0, 0, 0);
    border-radius: 25px 25px 0px 0px;
    position: relative;
}
.detail-hero:hover{
    background-color: rgb(200, 200, 200);
}
.fav-icon{
    position: absolute;
    top: 2.5vw;
    right: 2.5vw;
    font-size: 20px;
    z-index: 2;
}
.fav-icon:hover, .favorite{
    background: linear-gradient(90deg,rgb(255, 50, 25),rgb(75,190,170));
}
.detail-img{
    width:50%;
    height: 100%;
    opacity: 0.75;
    border-radius: 25px;
    object-fit:fill;
}
.detail-name{
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    top: 50%;
    font-size: 3vw;
    font-weight: 700;
    /* transform: rotate(-20deg); */
}

/* CSS: Serving Section*/
.detail-serving{
    background-color: black;
    color: white;
}
.detail-time, .detail-people, .change-people, .detail-cal{
    padding: 2vw 1vw;
    text-align: center;
    font-size: 1.75vw;
    font-weight: 500;
}
.add-people, .sub-people, .fav-icon{
    border-radius: 50%;
    padding: 8px !important;
    margin: 0px 5px;
    background-color: rgb(200, 50, 25);
    cursor:pointer;
}

/* CSS: Ingredients */
.detail-ingre{
    max-height: 25vh;
    overflow: auto;
}
.ingre-title{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 2.25vw;
}
.ingredients{
    display: grid;
    grid-template-columns: auto auto auto;
}
.ingredient{
    color:white;
    padding: 10px;
    font-size: 1.5vw;
    text-transform:capitalize;
    margin: auto;
    text-align: center;
}
.detail-view{
    position: absolute;
    bottom: -20px;
    left: calc(50% - 18px - 6vw);
}
#view-btn{
    padding: 1.5vh 3vw;
    border-radius: 100px;
    font-size: 18px;
    background: linear-gradient(90deg,rgb(255, 50, 25),rgb(75,190,170));
    cursor:pointer;
}
#view-btn a{
    color: black;
    text-decoration: none;
}


/* No recipe : CSS */
.no-recipe .recipe-review{
    height: 60vh;
    width: unset;
    background: url("https://nerdylifeofmine.files.wordpress.com/2017/11/loading.gif") no-repeat center center / cover;
    background-color: rgba(0, 0, 0, 0.5);
}

/* desktop view */

@media screen and (min-width:1400px) {
    .recipe-page{
        width: 80% !important;
    }
    .recipe-name{
        font-size: 1vw;
    }
    .detail-name{
        font-size: 2vw;
    }
    .detail-time, .detail-people, .change-people{
        font-size: 1vw;
    }
    .ingre-title{
        font-size: 1.75vw;
    }
    .ingredient{
        font-size: 1.25vw;
    }
}