*{
    transition: 1.5s ease;
}
.search{
    /* width: 80vw; */
    margin: 30vh auto;
   
}
#search-inp, #search-btn{
    overflow: hidden;
    padding: 1.5vh 3vw;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(90deg,rgb(255, 50, 25),rgb(75,190,170));
}
#search-inp{
    border: none;
    width: 80%;
    padding: 1.5vh 10vw;
}
::placeholder{
    color: black;
}
#search-btn{
    width: 30%;
    margin-left: -10vw;
}