*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background: black; */
  min-height: 100vh;
}


/* Header CSS */
.header{
  border-bottom: 1px solid black;
  border-radius: 0px 0px 30px 30px ;
  background-color: rgba(74, 189, 172,0.8);
  padding:0px 5vw;
}
.logo{
  cursor: pointer;
}
.logo-text{
  font-weight: 600;
}
.menu{
  background-color:  rgb(252, 74, 26);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 4px 8px rgb(204, 44, 0);
}
.menu:hover{
    box-shadow: none
}


/* Footer CSS */
.footer{
  background-color:rgb(252, 74, 26); 
  position: fixed;
  width: 100%;
  bottom: 0;
}
